/*
    #EAE7DC - Platinum
    #D8C3A5 - Dark Vanilla
    #838D8A - Taupe Gray
    #E98074 - Light Coral
    #E85A4F - Jelly Bean

    font-family: 'Roboto', sans-serif;

    nav bar code referenced from - https://www.w3schools.com/css/css_navbar.asp
*/

body {
  background-color: #EAE7DC;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none; /* no bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8E8D8A;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active), .dropdown:hover .ddbutton {
  background-color: #EAE7DC;
}

.active {
  background-color: #E85A4F;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .ddbutton {
  background-color: inherit;
  font-family: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #EAE7DC;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  column-count: 2;
}

.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu a:hover {
  background-color: #E98074;
}

.top {
	background: #D8C3A5;
	position: fixed;
  left: 0; right: 0;
  height: 136px;
  top: 0;
  z-index : -1
}
