/*
    #85C7DE - Sky Blue
    #A0C4E2 - Pale Cerulean
    #AED1E6 - Light Blue
    #C6DBF0 - Columbia Blue
    #CFE8EF - Azureish White
    #8EE5F0 - Baby Blue
    #F0998E - Light Salmon Pink
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #85C7DE;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #C6DBF0;
    display: block;
}

.sidenav a:hover {
    color: #CFE8EF;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
