/*
    #EAE7DC - Platinum
    #D8C3A5 - Dark Vanilla
    #838D8A - Taupe Gray
    #E98074 - Light Coral
    #E85A4F - Jelly Bean

    font-family: 'Roboto', sans-serif;

    nav bar code referenced from - https://www.w3schools.com/css/css_navbar.asp
*/

body {
  background-color: #EAE7DC;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none; /* no bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8E8D8A;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #EAE7DC;
}

.active {
  background-color: #E85A4F;
}
