/*
    #E6E2DD - platinum
    #C0CFD3 - lavender grey
    #97AEB2 - cadet grey
    #70828B - slate grey
    #39373C - onyx
    #A3B09C - laurel green

    font-family: 'Roboto', sans-serif;
*/

.text-box {
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 20%;
  margin-left: 5%;
  margin-top: 0%;
  background-color: #97AEB2;
  border-radius: 1%;
  border: 3px solid #39373C;
}

.text-content {
  width: 90%;
  padding: 2%;
  padding-top: 1.5%;
}

h3 {
  text-align: center;
  color: #E6E2DD;
  font-size: 1.3vw;
}

p {
  font-size: 1.05vw;
}

.resources {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

.resources div {
  width: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #C0CFD3;
  margin: 10px;
  text-align: center;
  color: white;
  font-size: 1vw;
  border-radius: 3%;
  border: 2px solid #39373C;
}

.resources h2 {
  color: white;
  font-size: 1.5vw;
  line-height: 0.8;
}

.resources section {
  width: 95%;
  padding-left: 2.5%;
}
