/*
    #E6E2DD - platinum
    #C0CFD3 - lavender grey
    #97AEB2 - cadet grey
    #70828B - slate grey
    #39373C - onyx
    #A3B09C - laurel green

    font-family: 'Roboto', sans-serif;

    nav bar code referenced from - https://www.w3schools.com/css/css_navbar.asp
*/

.about-box {
  position: absolute;
  top: 150px;
  left: -55px;
  width: 35%;
  height: 0;
  padding-bottom: 35%;
  margin-left: 5%;
  background-color: #A3B09C;
  border-radius: 5%;
  border: 5px solid #39373C;
}

.about-content {
  width: 90%;
  padding: 5%;
  padding-top: 1.5%;
}

p {
  text-align: justify;
  font-size: 1.1vw;
  font-weight: bold;
}

.disclaimer {
  color: #E6E2DD;
  text-align: center;
  font-size: 1.3vw;
}
