/*
    #E6E2DD - platinum
    #C0CFD3 - lavender grey
    #97AEB2 - cadet grey
    #70828B - slate grey
    #39373C - onyx
    #A3B09C - laurel green

    font-family: 'Roboto', sans-serif;

    nav bar code referenced from - https://www.w3schools.com/css/css_navbar.asp
*/

body {
  background-color: #E6E2DD;
  font-family: 'Roboto', sans-serif;
  color: #39373C;
}

ul {
  list-style-type: none; /* no bullet points */
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  overflow: hidden;
  background-color: #39373C;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active), .dropdown:hover .ddbutton {
  background-color: #70828B; /* #97AEB2 or #70828B*/
}

.active {
  background-color: #A3B09C;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .ddbutton {
  background-color: inherit;
  font-family: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #C0CFD3;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  column-count: 2;
}

.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu a:hover {
  background-color: #97AEB2; /* #70828B or #97AEB2 */
}

.top {
	background: #C0CFD3;
	position: fixed;
  left: 0; right: 0;
  height: 136px;
  top: 0;
  z-index : -1
}
