/*
    #E6E2DD - platinum
    #C0CFD3 - lavender grey
    #97AEB2 - cadet grey
    #70828B - slate grey
    #39373C - onyx
    #A3B09C - laurel green

    font-family: 'Roboto', sans-serif;
*/

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-columns: max-content;
  /* width: 100%; */
  margin: 0;
  /* overflow: hidden; */
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.video-element {
  float: left;
  margin: 55px;
  margin-top: 5px;
}

iframe {

}

h2, p {
  text-align: left;
  width: 560px;
}
